<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yozuru.mapper.UserMapper">
    <insert id="insertUserRole">
        INSERT INTO sys_user_role(user_id, role_id)
        values
        <foreach collection="roleIds" item="roleId" separator=",">
            (#{userId}, #{roleId})
        </foreach>
    </insert>
    <delete id="deleteUserRole">
        DELETE FROM sys_user_role WHERE user_id = #{userId}
    </delete>
    <select id="getRoleIdsByUserId" resultType="java.lang.Long">
        SELECT
            role_id
        FROM
            sys_user_role
        WHERE
            user_id = #{userId}
    </select>
</mapper>